.product-title h5 {
  font: 400 62.5% / 1.5 Roboto, Franklin Gothic Medium, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-top: 1em;
  color: #000000;
  border: none;
  box-sizing: border-box;
  font-weight: 550px;
  font-size: 1.7em;
  display: inline;
  margin-right: 10px;
}
ul{
  margin: 0px;
  padding: 10px;
  overflow: hidden;
}
.our-price p{
  line-height: 16px;
}
a{ 
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; 
  line-height: 1.375;
  color: #0E70BE;
  font-size: 18px;
  // width: 86px;
  // height: 24px;
}
a:hover { text-decoration: underline; }

#stars{
  width: 86px;
  height: 16px;
}
#product-vitals{
  font: 300 62.5% / 1.5 Roboto, Franklin Gothic Medium, Tahoma, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  float: left;
  padding-right: 15px;
  margin-bottom: 10px;
}
li{
  margin-top: 10px;
}
.title{
  // font: 300 62.5% / 1.5 Roboto, Franklin Gothic Medium, Tahoma, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // list-style-type: none;
  // box-sizing: border-box;
  font-size: 1.2rem;
  // line-height: 1;
  color: #555;
  width: 120px;
  // float: left;
  margin: 0px;
  padding-top: 10px;
}
.price{
  // font: 300 62.5% / 1.5 Roboto, Franklin Gothic Medium, Tahoma, sans-serif;
  // -webkit-font-smoothing: antialiased;
  list-style-type: none;
  // box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  // display: block;
  color: #b32605;
  font-size: 1.6rem;
  line-height: 8px;
  padding-top: 7px;
  font-weight: 550;
}
#before-discount-price{
  font-size: 1.1em;
  padding-top: 7px;
  font-weight: 500;
}
#save-with-price{
  font-size: 1.4em;
  font-weight: 400;
  color: #b32605;
  padding: 15px 5px 5px 5px;
}
#save-with-price1{
  font-size: 0.6em;
  font-weight: 400;
  color: #b32605;
}
header{
  padding: 10px;
}
.free-shipping{
  // font: 300 62.5% / 1.5 Roboto, Franklin Gothic Medium, Tahoma, sans-serif;
  list-style-type: none;
  // font-size: 11px;
  // line-height: 9px;
  // font-weight: 400;
  // color: #333;
  // margin: 10px 0px 0px 10px;list-style-type: none;
    font-size: 12;
    line-height: 12px;
    font-weight: 550;
    margin: 10px 0px 0px 10px;
}
#product-subtitle{
  margin: 0px 30px 0px 0px;
}
.hr1{
  border: 3px solid #eee;
  background-color: #dbdbdb;
  margin: 20px 0px 0px 0px;
}
.hr2{
  border: 3px solid #eee;
  background-color: #dbdbdb;
  margin: 20px 0px 0px 0px;
}
.hr3{
  background-color: #eee;
  border: 2.5px solid #eee;
  margin: 0px 0px 10px;
  padding: 0px;
}
#icon{
  height: 23px;
  width: 23px;
}

.product-header-extras{
  font-size: 17px;
}
#autoship{
  text-align: right;
  font-weight: 550;
  margin: 0px 20px 30px 0px;
  padding-top: 17px;
}
#autoship-span1{
  color: #163977;
  // font-size: 10px;
  font-size: 15px;
}
#autoship-span2{
  color: #ef6c00;
  display: block;
  text-align: right;
  font-size: 15px;
}
#tdp1{
  margin: 20px 0px 0px 0px;
  font-size: 1.1em;
}
td#table-auto1{
  padding:  0px 17px 30px 0px;
}
td#table-auto2{
  padding:  0px 17px 0px 0px;
}
#in-stock{
  font-family:Arial, Helvetica, sans-serif;
  color: #327435;
  font-size: 17.4px;
  font-weight: 550;
  margin: 0px 0px 20px 0px;
}
#out-of-stock{
  font-family:Arial, Helvetica, sans-serif;
  color: #b34700;
  font-size: 17.4px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}
.size-option{
  font-weight: 550;
}
.current-size{
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}
#stock{
  cursor: pointer; 
  margin: 10px 10px 20px 10px;
}
.button{
  cursor: pointer; 
  border-radius: 0.4em;
  width: 150px;
  height: 40px;
  color: #333333;
  background-color: white;
  margin: 3px;
  font-size: 15px;
  border: 0.3rem solid #dddddd
}
.stock-container{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 11px;
}
button:hover, button:active{
  border: 0.3rem solid orange;
  font-weight: 400;
}
#add-to-cart-box{
  // float: left;
  // width: 320px;
  height: 225px;
  box-sizing: border-box;
  border: 3.5px solid #eee;
  border-radius: 3px;
  // margin-top: 0px;
}
div#border-box{
  background-color: #f9f9f9;
  border-radius: 3px;
  height: 130px;
  padding: 20px;
}
#add-to-fav{
  cursor: pointer; 
  list-style-type: none;
  margin: 25%;
}
#heart{
  height: 30px;
  width: 30px;
  margin-top: -14px;
}
#td3{
  padding: 0px 0px 50px 40px;
}
#td2{
  padding: 0px 0px 60px 5px;
}
#td1{
  padding: 0px 0px 130px 0px
}
#span-text{
  // margin-bottom: 10px;
  font-size: 17px;
  color: #128ced;
  // -webkit-font-smoothing: antialiased;
}
.cw-btn{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem 2.7rem;
  margin-right: 1.5rem;
  border: 0.1rem solid transparent;
  border-radius: 4px;
  background-color: #ef6c00;
  color: #ffffff;
  border: 0.1rem solid #ef6c00;
  width: 100%;    
}
.js-quantity-dropdown{
    font-size: 20px;
    // font-weight: 400;
    // text-align: left;
    line-height: 1.2em;
    border: 1px solid #ccc;
    margin: 0 0 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23.88' height='43.81' preserveAspectRatio='xMinYMid' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M23.91.03v43.83H-.03V.03'/%3E%3Cpath fill='%23666' d='M16.88 23.41H8.63l4.12 4.7 4.12-4.71zm0-2.86H8.63l4.12-4.71 4.12 4.71z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 50%;
    height: 3.5rem;
    border-radius: .4rem;
    padding: 1rem 2rem .7rem 1rem;
    width: 100%;
    -webkit-appearance: none;
}
.quantity{
  // display: block;
  //   font-weight: 300;
  //   text-transform: none;
    // position: absolute;
    // height: 4350px;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 1;
    position: absolute;
    color: #999;
    padding: 5px 0 0 10px;
    font-size: 13;
    // font-size: 1.1em;
    // text-align: left;
    // line-height: 1.3em;
    // margin: 0;
    // color: #999;
    // padding: 10px;
    // transition: all .15s ease-out;
    // height: auto;
    // line-height: 1em;
    // font-size: 1em;
    // padding: 5px 0 0 10px;
}
.quantity-select{
  // position: relative;
  // font-size: 5px;
  margin: 0 0 3px;
  // transition: height .15s ease-out;
}